 <!DOCTYPE html>
    <html>
        <head>
            <title>
                {% block title %}
                    Good Job - Le partenaire des geeks
                {% endblock %}
            </title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
            <link rel="shortcut icon" href="{{ asset('bundles/ensgoodjob/images/favicon.ico') }}" />


<!-- Elément Google Maps indiquant que la carte doit être affiché en plein écran et
        qu'elle ne peut pas être redimensionnée par l'utilisateur -->
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('bundles/ensuser/css/mainUser.css') }}" type="text/css" media="all" />
                <style type="text/css" > 
                    body{background-color: #CCC;}

                </style>
            {% endblock %}

        </head>
    <body>
        {% block body %}
        {% endblock %}
       
            {% block javascripts %}
            {% endblock %}
    </body>
</html>
