{% extends '::layout.html.twig' %}
 
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Ressources/public/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}
 
{% block content %}
    <div id="jobs">
        {% include 'EnsGoodJobBundle:Job:list.html.twig' with {'jobs': jobs} %}
    </div>
{% endblock %}